GRAPHQL_API_ENDPOINT="https://bff.resim.io/graphql"
SIGNALFLAG_CLIENT_ID="key found in .resim/cache.json"
SIGNALFLAG_CLIENT_SECRET="token value found in .resim/cache.json"
CONFIG="staging"
DEPLOYMENT=""